.long-mult {display:block}
.long-one {display:block}
.one {display:inline}
.mult {display:inline}
a.image-link:link { border-style:none; }
a.image-link:visited { border-style:none; }
a.image-link:active { border-style:none; }
a.image-link img { border-style:none; }
span.image-credit {font-size:x-small;text-align:top;}
span.image-caption {font-size:small;font-variant:small-caps;text-align:top;}
div.image-decor {padding-bottom:10px;}
div.image-block {padding-top:10px;}
li.question {padding-top:10px;}
@media print {
  .question {padding-top:10px;page-break-inside:avoid;}
}