/*
 * Combined style sheet for the index pages and the slide pages.
 */

/* Style for all bodies. */
body {
  font-family: Verdana, Arial, sans-serif;
  background-color: #8888FF;
  color: black;
  margin-top: 5px;
  margin-left:60px;
  margin-right:60px;
}

/* Put a border on all generated images */
.image {
  border-width: 4px;
  border-color: black;
  border-style: outset;
  margin: 5px;
}

/* Align the content of the cells to the top. */
td {
  text-align: left;
  vertical-align: top;
}

/* Header */
h1 {
  /*font-size: 30px;*/
  font-weight: bold;
}

.abstract-atitle {
        margin-top:0;
}

.abstract-read-more {
  margin-bottom:12pt;
}

/* Custom link styles */
a:active {
  text-decoration: underline;
  color: black;
}

a:visited {
  text-decoration: underline;
  color: black;
}

a:link {
  text-decoration: underline;
  color: black;
}

.image-caption {
  font-size:8pt;
  font-weight:bold;
  font-variant:small-caps;
  margin-top:0pt;
  margin-bottom:6pt;
}
