/*
 * Combined style sheet for the index pages and the slide pages.
 */

/* Style for all bodies. */
body {
  font-family: Verdana, Arial, sans-serif;
  background-image: url('/paperbg.png');
  color: black;
  margin-top: 5px;
  margin-left:5%;
  margin-right:1%;
}

div.photostory-entry {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "left"
    "right";
}

div.photostory-tcell {
  grid-area: left;
}

div.photostory-icell {
  grid-area: right;
}

@media (min-width: 700px) {
  div.photostory-entry {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "left right";
  }
  div.photostory {
    max-width: 800px;
  }
}

div.poetry {
  display: block;
  white-space: pre;
}

td.contact {
  font-family: Arial, sans-serif;
  font-size: 10px;
}

/* Style for all table cells. */
td {
  text-align:left;
  vertical-align:top;
}

/* Put a border on all generated images */
img {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 3px;
}

div.image-block {
  margin: 10px;
  margin-bottom: 15px;
}

div.image-decor {
  margin-bottom: 10px;
}

/* Align the content of the cells on the index pages to the center and bottom. */
#index td {
  text-align: center;
  vertical-align: bottom;
}

/* Remove the margin under the images on the index pages. */
#index .image {
  margin-left: 2;
  margin-right: 2;
  margin-bottom: 0;
}

/* Don't have margins on the slide pages. */
body#slide {
  margin: 0;
}

/* Highlight the image name on the slide pages. */
#slide .name {
  font-weight: bold;
  font-size: 14px;
}

/* Header */
h1 {
  font-size: 30px;
  font-weight: bold;
}

/* Custom link styles */
a:active {
  text-decoration: underline;
  color: black
}

a:visited {
  text-decoration: underline;
  color: black
}

a:link {
  text-decoration: underline;
  color: black
}

#imageinfo {
  visibility: hidden;
}

.image-caption {
  font-size:8pt;
  font-weight:bold;
  font-variant:small-caps;
  margin-top:0pt;
  margin-bottom:6pt;
}

/* Make a block quote */
.quote-box {
  border-top: 2pt solid black;
  border-bottom: 2pt solid black;
  /*padding: 8px;*/
  margin-left: 2em;
  margin-right: 6em;
}

/* Make a book title */
.book-title {
  font-style: italic;
}

p.copyright {
  clear:both;
  padding-top:25px;
}

