/*
 * Combined style sheet for the index pages and the slide pages.
 */

/* Style for all bodies. */
body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
	background-color: black;
	color: white;
	margin: 5px;
}

/* Style for all table cells. */
td {
	font-family: Arial, sans-serif;
	font-size: 10px;
}

/* Put a border on all generated images */
.image {
	border-width: 1;
	border-color: #888888;
	border-style: solid;
	margin: 5px;
}

/* Align the content of the cells on the index pages to the center and bottom. */
#index td {
	text-align: center;
	vertical-align: bottom;
}

/* Remove the margin under the images on the index pages. */
#index .image {
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 0px;
}

/* Don't have margins on the slide pages. */
body#slide {
	margin: 0px;
}

/* Highlight the image name on the slide pages. */
#slide .name {
	font-weight: bold;
	font-size: 14px;
}

/* Header */
h1 {
	font-size: 30px;
	font-weight: bold;
}

/* Custom link styles */
a:active {
	text-decoration: underline;
	color: #FFAAAA;
}

a:visited {
	text-decoration: underline;
	color: #AAAAAA;
}

a:hover {
	text-decoration: underline;
	color: #FFFFFF
}

a:link {
	text-decoration: underline;
	color: #CCCCCC
}

#imageinfo {
	visibility: hidden;
}
